.sidebarMain {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
}